<div class="table-responsive">     
  <table matSort (matSortChange)="sortData($event)"  class="table">
    <tr>
      <th ></th>
      <th mat-sort-header="Expense">Expense</th>
      <th mat-sort-header="Amount" desc>Amount</th>
      <th mat-sort-header="Tax">Tax Code</th>
      <th mat-sort-header="Category" *ngIf="result">Category</th>
    </tr>
  
    <tr *ngFor="let item of sortedData">
      <td><input type="checkbox" ngModel="item.isChecked"></td>
      <td>{{item.Expense}}</td>
      <td>{{item.Amount}}</td>
      <td>{{item.Tax}}</td>
      <td *ngIf="result">{{item.Category}}</td> 
    </tr>
  </table>
  </div>  