 
<div class="container content">
  <div>
    <input type='file' (change)="incomingfile($event)">
  </div>

  Category Column
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" ngModel="result" (click)="onClick($event)" value="true" name="catColumn" mdbInput>
    <label class="form-check-label">SHOW</label>
  </div>
  <div class="form-check form-check-inline">
    <input type="radio" class="form-check-input" ngModel="result" (click)="onClick($event)"  value="false" name="catColumn" mdbInput>
    <label class="form-check-label">HIDE</label>
  </div>
      
  <app-charts ></app-charts>
  <app-data-table [result]="result"></app-data-table>
</div>


          
          
            
 
         
